alienschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com/alienschema"
xmlns:tns="https://www.w3schools.com/alienschema"
elementFormDefault="qualified">
<complexType name="alienstype">
    <sequence>
        <element name="alien" type="tns:alientype"></element>
    </sequence>
</complexType>
<complexType name="alientype">
<sequence>
    <element name="name" type="string"></element>
    <element name="salary" type="integer"></element>
</sequence>
<attribute name="aid" type="ID" use="required"></attribute>
</complexType>

</schema>